# ---- Database (Postgres) ----
POSTGRES_USER=hris_user
POSTGRES_PASSWORD=ganti_dengan_password_kuat
POSTGRES_DB=hris_db

# ---- API Configuration ----
PORT=3001
NODE_ENV=production
# URL Backend anda (ex: https://api.hris.com)
BETTER_AUTH_URL=http://localhost:3001
BETTER_AUTH_SECRET=463bb9ee5913eb046d99db82f1e3af4646207eaa8ecb9234f35c1d7c11c7db8f

# ---- Frontend Configuration ----
# URL Frontend anda (ex: https://hris.com)
FRONTEND_URL=http://localhost
VITE_API_URL=http://localhost:3001

# ---- OAuth Providers (Optional) ----
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
